*{
    font-family: 'Roboto', sans-serif;

}

/*NAVBAR*/
.yellow-wrapper{
    background-color: #ee6e73;
}

.yellow-wrapper a{
        color: white; 
        padding-left: 20px;

}
/*CONTENT*/
textarea{
        background-color: whitesmoke;
}
.container{
    border: 1px solid black;
    margin-top: 7%;
    margin-bottom: 10%;
    background-color: white;
    padding: 17px;

    }

form{
    padding-left: 20px;
}
.paragraph{
    padding-left: 20px;
}

label{
    text-align: center;
}
#to-do{
    font-weight: 900;
    text-transform: uppercase;
}
.complete{
    font-weight: 900;
    text-transform: uppercase;
}

/*FORMULARIO*/
form{
    margin-top: 20px;
}

/*FOOTER*/
footer{
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
}
 
      
      