body{
    background-color: lightgray;
}
/*NAVBAR*/
.yellow-wrapper{
    background-color: #ffbb00;
}
.yellow-wrapper a{
        color: black; 
        padding-left: 20px;

}
/*CONTENT*/
textarea{
        background-color: whitesmoke;
}
.container{
    border: 1px solid black;
    margin-top: 7%;
    background-color: white;
    padding: 17px;
    }

form{
    padding-left: 20px;
}
.paragraph{
    padding-left: 20px;
}

label{
    text-align: center;
}

/*FORMULARIO*/
form{
    margin-top: 20px;
}
